.container {
  margin: 0 auto 0 auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr; 
  grid-row: 2 /4;

}

 h1, h2 {
  font-family:fantasy;
  font-style: italic;
}
h1{ 
  /* justify-content: center; */
}

#page-header {
  grid-column: 1 / -1;
  border-bottom: 1px solid #999;
  display:grid;
  font-family: fantasy;
  grid-template-columns: 1fr 3fr;
}
#page-footer {
  grid-column: 2/2;
}
#page-header .site-title {
  font-size: 26px;
  text-decoration:none ;
  color: black;
  float:right;
  font-weight:normal;
  font-family: fantasy;
  line-height: 100%;
}
#site-title ul a{
  /* display: flex; */
  text-decoration:none ;
  margin-bottom: 500px;

}
#page-header nav li {
  float:left ;
  text-decoration:none;
  padding: 30px
}


/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
  
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 16px;
  display: flex;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background:whitesmoke;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style:dashed;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  margin: auto;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  margin: auto;
}

.close:hover {
  background-color: #f44336;
  color: white;
  margin: auto;
}

/* Style the header */
.header {
  background-color:lightcyan;
  /* padding: 10px 10px; */
  color: black;
  text-align: center;
  display:block ;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
  margin: auto;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.btn-primary-body {
justify-content: center; 
align-content:flex-end;
display:block;

}

.card-body_weather{
  justify-content: end;
}

#image{
  width: 80%;
  margin-left: 50px;
  align-items: center;
  border-radius: 20px;

}


a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  justify-content: center;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  margin-bottom:25px;
  align-content: center;
  border:solid black 2px;
}

.next {
  background-color: #04AA6D;
  color: white;
  margin-bottom:25px;
  align-content: center;
  border:solid black 2px;
  position: relative;
  left: 90%

}
#news_row{
 margin-right: 90px;
}

.round {
  border-radius: 50%;
  justify-content: center;
  /* margin: 10x; */
}

table {
  border: 2px solid black; 
  padding: 10px;
  border-radius: 20px;
  background-color:white;
}
th{
  background-color: lightcyan;
  border: 1px solid black;
  padding: 10px
}

td{
  border: 1px solid black;
  padding: 10px
}
.nav {

float: left;
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
overflow: hidden;

}
#searchW{
 
  margin-top: 10px; 
  border:beige; 
  border-radius: 20px ;
  border:dashed 1px black;
}
.word{
  margin-top:  500px;
}
#btnW{
margin-top: 20px;
margin-left: 10px;

}

#btn:hover{ 
  background-color: whitesmoke;
}
.btn{
  margin-top: auto;
  position: absolute;
  transform: translateX(30%);
  
}
.weather_card{
  top:20%;
  padding: 50px;
}

.weather_card {
  grid-area:span;
}
.quoteBox{
  justify-content: flex-end;
}

.avatar {
  justify-content: center;
  vertical-align:auto;

  width: 100px;
  height: 100px;
  border-radius: 80%;
  border:thin 4px black;
}

a:link {
  border-radius: 20px ;
  background-color:lightcyan;
  color: black;
  display: flex;
  margin-bottom: 20px;
  border: solid 2px black;
}
